<!DOCTYPE html>
<html lang="ko">
<head>
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">   
                <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <title>taeong2</title>

</head>
<body>
           <div class="container">
    <br>
    <ul class="nav nav-tabs">
            <li role="presentation"><a href="{%url 'index'%}">Home</a></li>
            <li role="presentation"><a href="{%url 'profile'%}">Profile</a></li>
            <li role="presentation" class="active"><a href="#">IT service</a></li>
          </ul>
<h2 style="color: cornflowerblue">IT 서비스 소개</h2><br><br>

        제가 만들고 싶은 <mark>'대학 입시 도우미'</mark>서비스는 <br>
        원하는 대학을 검색하면 관련 학과와 그 학과의 커리큘럼이 나오는 <strong>간단한 정보 제공자</strong>의 역할부터, <br>
        <strong>어떤 전형으로 입시를 준비</strong>해야 하는지에 대한 도움과, <br>
        원하는 대학과 학과를 입력하면 <strong>최근까지의 합격자 정보</strong>를 바탕으로 합격 가능 내신과 비교과활동 내역을 공개하여 도움을 주는 역할을 합니다. <br>
        뿐만 아니라 학생들이 궁금한 점을 <strong>Q&A게시판</strong>에 등록하면 그 분야의 <strong>전공자</strong>가 답변을 등록할 수 있습니다. <br>
        <strong>이 기능은 답변인의 진입장벽이 높아 답변의 신뢰도에 중점을 두었다는 점에서 다른 웹서비스와 차별화됩니다.</strong><br>
        이 과정에서 광고성 답변이나 타당성 없는 답변을 등록하면 관리자에게 필터링 되어 답변이 게시되지 않는 시스템입니다.<BR><br>
        올해 사촌동생들이 고등학교에 입학하게 되었는데 입시에 대해 궁금한 부분들을 질문한 적이 있습니다. <br>
        그러나 입시라는 것이 가고 싶은 대학·학과가 있다고 해서 3년 내내 그 꿈이 변하지 않는 것도 아니면서, <br>
        성적관리와 비교과활동도 제가 아는 선에서는 도움을 주기 힘든 부분이 많았습니다. <br>
        또한 제 경험을 바탕으로 입시를 경험한 사람들이라면 쉽게 찾을 수 있는 정보라도 비경험자에게는 어려울 수 있겠다는 생각이 들었습니다. <br>
        인터넷에 대학 입시 도우미를 검색해보니 네이버 지식인에 학생들이 질문을 올리지만 원하는 답변을 못받는 경우나 광고성 답변만 달리는 경우도 적지 않았고, <br>
        입시 도우미라는 시스템이 대부분 유료화되어 학생들이 쉽게 접근하기에는 어려움이 있었습니다. <br>
        그리하여 중·고등학생들이 대학 입시에 대한 정보를 쉽게 찾을 수 있으면서 Q&A도 가능한 <br>
        무료 대학 입시 도우미 서비스를 만들어 도움을 주고 싶다는 생각을 하였습니다.<br>
        <br><br><br><br><br>
</body>
</html>