<!DOCTYPE html>
<html lang="ko">
<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">   
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <title>taeong1</title>

</head>
<body>
      <div class="container">
    <br>
    <ul class="nav nav-tabs">
            <li role="presentation"><a href="{%url 'home'%}">Home</a></li>
            <li role="presentation" class="active"><a href="#">Profile</a></li>
            <li role="presentation"><a href="{%url 'itservice'%}">IT service</a></li>
          </ul>
    <h2 style="color: cornflowerblue">자기소개</h2><br><br>
    저는 한국산업기술대학교에 재학중인 <strong style="color:cornflowerblue">박태영</strong>입니다.<br>
    현재 <strong style="color:cornflowerblue">IT경영학과</strong>에 2학년으로 재학중이며 컴퓨터공학과를 복수전공하고 있습니다. <br>
    올해 가장 관심사는 <strong style="color:cornflowerblue">웹서비스 개발</strong>입니다.<BR><br><br><br>

        
</body>
</html>